[class^="icon-"], [class*=" icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;

  /* fix buttons height */
  line-height: 1em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}

.icon-notification-important { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe800;&nbsp;'); }
.icon-attention-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe801;&nbsp;'); }
.icon-cancel-button { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe802;&nbsp;'); }
.icon-vcard { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe803;&nbsp;'); }
.icon-doc-landscape-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe804;&nbsp;'); }
.icon-license-plate { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe805;&nbsp;'); }
.icon-vpc-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe806;&nbsp;'); }
.icon-vs { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe807;&nbsp;'); }
.icon-open_in_new { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe808;&nbsp;'); }
.icon-bar-chart-horizontal { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe809;&nbsp;'); }
.icon-trash-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80a;&nbsp;'); }
.icon-chart-line-single { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80b;&nbsp;'); }
.icon-lock-outline { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80c;&nbsp;'); }
.icon-today { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80d;&nbsp;'); }
.icon-trending-down { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80e;&nbsp;'); }
.icon-trending-up { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80f;&nbsp;'); }
.icon-loading-outline { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe810;&nbsp;'); }
.icon-headset-with-microphone { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe811;&nbsp;'); }
.icon-cog-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe812;&nbsp;'); }
.icon-tools { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe813;&nbsp;'); }
.icon-share-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe814;&nbsp;'); }
.icon-logout-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81a;&nbsp;'); }
.icon-clock-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81f;&nbsp;'); }
.icon-hourglass-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe820;&nbsp;'); }
.icon-resize-full-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe826;&nbsp;'); }
.icon-resize-small-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe827;&nbsp;'); }
.icon-down-open-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe830;&nbsp;'); }
.icon-left-open-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe831;&nbsp;'); }
.icon-right-open-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe832;&nbsp;'); }
.icon-up-open-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe833;&nbsp;'); }
.icon-down-open-mini { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe834;&nbsp;'); }
.icon-right-open-mini { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe836;&nbsp;'); }
.icon-up-open-mini { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe837;&nbsp;'); }
.icon-down-open-big { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe838;&nbsp;'); }
.icon-left-open-big { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe839;&nbsp;'); }
.icon-right-open-big { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe83a;&nbsp;'); }
.icon-down-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe83c;&nbsp;'); }
.icon-left-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe83d;&nbsp;'); }
.icon-right-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe83e;&nbsp;'); }
.icon-up-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe83f;&nbsp;'); }
.icon-down-dir { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe840;&nbsp;'); }
.icon-up-dir { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe843;&nbsp;'); }
.icon-left-thin { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe849;&nbsp;'); }
.icon-ccw-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe84c;&nbsp;'); }
.icon-cw-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe84d;&nbsp;'); }
.icon-arrows-ccw { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe84e;&nbsp;'); }
.icon-switch { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe853;&nbsp;'); }
.icon-list-add { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe863;&nbsp;'); }
.icon-back-in-time { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe867;&nbsp;'); }
.icon-erase { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe880;&nbsp;'); }
.icon-chart-line { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe882;&nbsp;'); }
.icon-chart-bar-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe883;&nbsp;'); }
.icon-picture-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8e0;&nbsp;'); }
.icon-camera-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8e1;&nbsp;'); }
.icon-ok-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8e2;&nbsp;'); }
.icon-ok-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8e3;&nbsp;'); }
.icon-cancel-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8e4;&nbsp;'); }
.icon-cancel-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8e5;&nbsp;'); }
.icon-plus-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8e6;&nbsp;'); }
.icon-plus-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8e7;&nbsp;'); }
.icon-pin { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8f3;&nbsp;'); }
.icon-pencil-neg { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe900;&nbsp;'); }
.icon-undo { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe902;&nbsp;'); }
.icon-book-open { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe917;&nbsp;'); }
.icon-wrench-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe91e;&nbsp;'); }
.icon-calendar-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe920;&nbsp;'); }
.icon-calendar-inv { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe921;&nbsp;'); }
.icon-clock-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe927;&nbsp;'); }
.icon-resize-full-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe92a;&nbsp;'); }
.icon-resize-small-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe92c;&nbsp;'); }
.icon-down-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe936;&nbsp;'); }
.icon-play-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe940;&nbsp;'); }
.icon-to-start-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe944;&nbsp;'); }
.icon-to-end-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe945;&nbsp;'); }
.icon-list-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe94b;&nbsp;'); }
.icon-user-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe978;&nbsp;'); }
.icon-user-male { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe979;&nbsp;'); }
.icon-users { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe97b;&nbsp;'); }
.icon-menu { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe980;&nbsp;'); }
.icon-th-thumb { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe981;&nbsp;'); }
.icon-ok-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe984;&nbsp;'); }
.icon-cancel-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe986;&nbsp;'); }
.icon-plus-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe988;&nbsp;'); }
.icon-info-circled-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe98b;&nbsp;'); }
.icon-info-circled-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe98c;&nbsp;'); }
.icon-download-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe995;&nbsp;'); }
.icon-upload-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe996;&nbsp;'); }
.icon-upload-cloud { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe998;&nbsp;'); }
.icon-reply { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe999;&nbsp;'); }
.icon-pencil-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe99a;&nbsp;'); }
.icon-pause-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe99b;&nbsp;'); }
.icon-doc-text { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe99c;&nbsp;'); }
.icon-up-small { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe99d;&nbsp;'); }
.icon-down-small { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe99e;&nbsp;'); }
.icon-send { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe99f;&nbsp;'); }
.icon-drag-indicator { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9a0;&nbsp;'); }
.icon-attention { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9a1;&nbsp;'); }
.icon-attention-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9a2;&nbsp;'); }
.icon-panorama-horizontal { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9a3;&nbsp;'); }
.icon-data-storage { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9a4;&nbsp;'); }
.icon-doc-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9a5;&nbsp;'); }
.icon-newspaper { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9a6;&nbsp;'); }
.icon-folder-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9a7;&nbsp;'); }
.icon-folder-open-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9a8;&nbsp;'); }
.icon-dot { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9a9;&nbsp;'); }
.icon-battery { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9aa;&nbsp;'); }
.icon-cellular { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9ab;&nbsp;'); }
.icon-wifi { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9ac;&nbsp;'); }
.icon-edit_note { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9ad;&nbsp;'); }
.icon-compare_arrows { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9ae;&nbsp;'); }
.icon-mic-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9af;&nbsp;'); }
.icon-star { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9b0;&nbsp;'); }
.icon-home-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9b1;&nbsp;'); }
.icon-insert-chart-outlined { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9b2;&nbsp;'); }
.icon-database-data { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9b3;&nbsp;'); }
.icon-multiline-chart { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9b4;&nbsp;'); }
.icon-area_chart { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9b5;&nbsp;'); }
.icon-down-open-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9b6;&nbsp;'); }
.icon-left-open-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9b7;&nbsp;'); }
.icon-right-open-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9b8;&nbsp;'); }
.icon-up-open-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9b9;&nbsp;'); }
.icon-down-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9ba;&nbsp;'); }
.icon-left-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9bb;&nbsp;'); }
.icon-right-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9bc;&nbsp;'); }
.icon-up-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9bd;&nbsp;'); }
.icon-work_history { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9be;&nbsp;'); }
.icon-featured-play-list { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9bf;&nbsp;'); }
.icon-person-add { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9c0;&nbsp;'); }
.icon-people-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9c1;&nbsp;'); }
.icon-lock-open { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9c2;&nbsp;'); }
.icon-sort-alt-up { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9c6;&nbsp;'); }
.icon-to-end { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9cb;&nbsp;'); }
.icon-chart-bar { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe9e5;&nbsp;'); }
.icon-mail { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea0d;&nbsp;'); }
.icon-user { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea15;&nbsp;'); }
.icon-video { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea19;&nbsp;'); }
.icon-video-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea1b;&nbsp;'); }
.icon-video-chat { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea1d;&nbsp;'); }
.icon-picture { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea1e;&nbsp;'); }
.icon-camera { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea1f;&nbsp;'); }
.icon-ok { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea26;&nbsp;'); }
.icon-ok-circled2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea28;&nbsp;'); }
.icon-cancel { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea29;&nbsp;'); }
.icon-plus { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea2c;&nbsp;'); }
.icon-plus-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea2d;&nbsp;'); }
.icon-help-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea31;&nbsp;'); }
.icon-info-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea32;&nbsp;'); }
.icon-home { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea33;&nbsp;'); }
.icon-attach { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea37;&nbsp;'); }
.icon-lock { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea39;&nbsp;'); }
.icon-eye { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea3d;&nbsp;'); }
.icon-eye-off { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea3e;&nbsp;'); }
.icon-flag { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea43;&nbsp;'); }
.icon-download { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea47;&nbsp;'); }
.icon-download-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea48;&nbsp;'); }
.icon-upload { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea49;&nbsp;'); }
.icon-share { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea4a;&nbsp;'); }
.icon-pencil { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea4e;&nbsp;'); }
.icon-pencil-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea4f;&nbsp;'); }
.icon-edit { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea50;&nbsp;'); }
.icon-edit-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea52;&nbsp;'); }
.icon-print { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea53;&nbsp;'); }
.icon-bell { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea57;&nbsp;'); }
.icon-warning { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea58;&nbsp;'); }
.icon-error { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea5a;&nbsp;'); }
.icon-location { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea5c;&nbsp;'); }
.icon-trash { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea60;&nbsp;'); }
.icon-doc { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea62;&nbsp;'); }
.icon-doc-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea63;&nbsp;'); }
.icon-doc-new { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea64;&nbsp;'); }
.icon-folder { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea66;&nbsp;'); }
.icon-folder-close { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea68;&nbsp;'); }
.icon-folder-open { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea69;&nbsp;'); }
.icon-phone { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea6b;&nbsp;'); }
.icon-cog { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea6d;&nbsp;'); }
.icon-wrench { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea70;&nbsp;'); }
.icon-calendar { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea74;&nbsp;'); }
.icon-mic { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea76;&nbsp;'); }
.icon-clock { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea7d;&nbsp;'); }
.icon-block { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea81;&nbsp;'); }
.icon-resize-full { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea82;&nbsp;'); }
.icon-resize-small { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea84;&nbsp;'); }
.icon-zoom-in { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea88;&nbsp;'); }
.icon-zoom-out { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea89;&nbsp;'); }
.icon-down-open { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea8a;&nbsp;'); }
.icon-left-open { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea8b;&nbsp;'); }
.icon-right-open { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea8c;&nbsp;'); }
.icon-up-open { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea8d;&nbsp;'); }
.icon-down { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea8e;&nbsp;'); }
.icon-left { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea8f;&nbsp;'); }
.icon-right { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea90;&nbsp;'); }
.icon-up { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea91;&nbsp;'); }
.icon-up-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea95;&nbsp;'); }
.icon-cw { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea9a;&nbsp;'); }
.icon-arrows-cw { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea9c;&nbsp;'); }
.icon-play { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea9e;&nbsp;'); }
.icon-play-circled2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa0;&nbsp;'); }
.icon-pause { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa2;&nbsp;'); }
.icon-pause-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa3;&nbsp;'); }
.icon-record { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa4;&nbsp;'); }
.icon-eject { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa5;&nbsp;'); }
.icon-backward { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa6;&nbsp;'); }
.icon-forward { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaaa;&nbsp;'); }
.icon-font { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeabe;&nbsp;'); }
.icon-align-justify { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac7;&nbsp;'); }
.icon-list { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac8;&nbsp;'); }
.icon-off { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeacc;&nbsp;'); }
.icon-qrcode { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeace;&nbsp;'); }
.icon-asterisk { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xead6;&nbsp;'); }
.icon-clipboard { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeade;&nbsp;'); }
.icon-key { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeae0;&nbsp;'); }
.icon-certificate { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeae1;&nbsp;'); }
.icon-filter { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeae3;&nbsp;'); }
.icon-search-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb18;&nbsp;'); }
.icon-doc-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb19;&nbsp;'); }
.icon-angle-double-right { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb1b;&nbsp;'); }
.icon-angle-double-left { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb1c;&nbsp;'); }
.icon-search-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb22;&nbsp;'); }
.icon-camera-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb2e;&nbsp;'); }
.icon-check-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb31;&nbsp;'); }
.icon-cancel-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb32;&nbsp;'); }
.icon-plus-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb35;&nbsp;'); }
.icon-plus-circled-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb36;&nbsp;'); }
.icon-plus-squared { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb37;&nbsp;'); }
.icon-help-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb3b;&nbsp;'); }
.icon-link-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb41;&nbsp;'); }
.icon-download-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb4c;&nbsp;'); }
.icon-upload-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb4d;&nbsp;'); }
.icon-pencil-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb55;&nbsp;'); }
.icon-keyboard { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb59;&nbsp;'); }
.icon-vcard-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb5f;&nbsp;'); }
.icon-newspaper-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb6c;&nbsp;'); }
.icon-folder-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb6f;&nbsp;'); }
.icon-share-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb76;&nbsp;'); }
.icon-calendar-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb7a;&nbsp;'); }
.icon-clock-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb81;&nbsp;'); }
.icon-down-circled-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb8e;&nbsp;'); }
.icon-up-circled-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb91;&nbsp;'); }
.icon-down-open-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb92;&nbsp;'); }
.icon-left-open-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb93;&nbsp;'); }
.icon-right-open-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb94;&nbsp;'); }
.icon-down-open-mini-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb96;&nbsp;'); }
.icon-left-open-big-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb9b;&nbsp;'); }
.icon-up-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeba1;&nbsp;'); }
.icon-arrows-ccw-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebb0;&nbsp;'); }
.icon-to-end-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebba;&nbsp;'); }
.icon-to-start-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebbb;&nbsp;'); }
.icon-list-add-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebc5;&nbsp;'); }
.icon-file-pdf { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebd3;&nbsp;'); }
.icon-building-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebd4;&nbsp;'); }
.icon-file-excel { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebd5;&nbsp;'); }
.icon-briefcase-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebda;&nbsp;'); }
.icon-desktop-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebf8;&nbsp;'); }
.icon-left-big { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebfd;&nbsp;'); }
.icon-right-big { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebfe;&nbsp;'); }
.icon-down-dir-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec00;&nbsp;'); }
.icon-up-dir-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec01;&nbsp;'); }
.icon-store5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec05;&nbsp;'); }
.icon-cam-block-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec07;&nbsp;'); }
.icon-videocam-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec09;&nbsp;'); }
.icon-videocam-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec0a;&nbsp;'); }
.icon-configuration28 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec0b;&nbsp;'); }
.icon-sort-alt-down { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec0c;&nbsp;'); }
.icon-dvr-null { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec0d;&nbsp;'); }
.icon-boxes6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec0e;&nbsp;'); }
.icon-sensor { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec0f;&nbsp;'); }
.icon-sitemap { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec10;&nbsp;'); }
.icon-zipcode { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec12;&nbsp;'); }
.icon-state { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec13;&nbsp;'); }
.icon-gauge-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec14;&nbsp;'); }
.icon-language-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec16;&nbsp;'); }
.icon-map-pointer2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec1b;&nbsp;'); }
.icon-building33 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec1c;&nbsp;'); }
.icon-pin56 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec1d;&nbsp;'); }
.icon-dvr-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec1e;&nbsp;'); }
.icon-cam-block { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec1f;&nbsp;'); }
.icon-site-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec21;&nbsp;'); }
.icon-company-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec22;&nbsp;'); }
.icon-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec24;&nbsp;'); }
.icon-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec25;&nbsp;'); }
.icon-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec26;&nbsp;'); }
.icon-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec27;&nbsp;'); }
.icon-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec28;&nbsp;'); }
.icon-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec29;&nbsp;'); }
.icon-7 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec2a;&nbsp;'); }
.icon-8 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec2b;&nbsp;'); }
.icon-9 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec2c;&nbsp;'); }
.icon-10 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec2d;&nbsp;'); }
.icon-11 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec2e;&nbsp;'); }
.icon-12 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec2f;&nbsp;'); }
.icon-13 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec30;&nbsp;'); }
.icon-14 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec31;&nbsp;'); }
.icon-15 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec32;&nbsp;'); }
.icon-16 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec33;&nbsp;'); }
.icon-17 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec34;&nbsp;'); }
.icon-18 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec35;&nbsp;'); }
.icon-19 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec36;&nbsp;'); }
.icon-20 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec37;&nbsp;'); }
.icon-21 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec38;&nbsp;'); }
.icon-22 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec39;&nbsp;'); }
.icon-23 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec3a;&nbsp;'); }
.icon-24 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec3b;&nbsp;'); }
.icon-25 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec3c;&nbsp;'); }
.icon-26 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec3d;&nbsp;'); }
.icon-27 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec3e;&nbsp;'); }
.icon-28 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec3f;&nbsp;'); }
.icon-29 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec40;&nbsp;'); }
.icon-30 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec41;&nbsp;'); }
.icon-31 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec42;&nbsp;'); }
.icon-32 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec43;&nbsp;'); }
.icon-33 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec44;&nbsp;'); }
.icon-34 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec45;&nbsp;'); }
.icon-35 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec46;&nbsp;'); }
.icon-36 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec47;&nbsp;'); }
.icon-37 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec48;&nbsp;'); }
.icon-38 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec49;&nbsp;'); }
.icon-39 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec4a;&nbsp;'); }
.icon-40 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec4b;&nbsp;'); }
.icon-41 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec4c;&nbsp;'); }
.icon-42 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec4d;&nbsp;'); }
.icon-43 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec4e;&nbsp;'); }
.icon-44 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec4f;&nbsp;'); }
.icon-45 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec50;&nbsp;'); }
.icon-46 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec51;&nbsp;'); }
.icon-47 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec52;&nbsp;'); }
.icon-store-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec81;&nbsp;'); }
.icon-normallize { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec82;&nbsp;'); }
.icon-health-monitor { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec83;&nbsp;'); }
.icon-demo-line-chart { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec86;&nbsp;'); }
.icon-drive-through { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec88;&nbsp;'); }
.icon-chain { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec8b;&nbsp;'); }
.icon-compare { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec8c;&nbsp;'); }
.icon-flag-null { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec8e;&nbsp;'); }
.icon-folder-add { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec8f;&nbsp;'); }
.icon-save { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec90;&nbsp;'); }
.icon-wrench-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec91;&nbsp;'); }
.icon-not-equal { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec92;&nbsp;'); }
.icon-equal { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec93;&nbsp;'); }
.icon-greater-than { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec94;&nbsp;'); }
.icon-greater-than-or-equal { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec95;&nbsp;'); }
.icon-less-than { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec96;&nbsp;'); }
.icon-less-than-or-equal { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec97;&nbsp;'); }
.icon-dot-verticle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec99;&nbsp;'); }
.icon-left-small { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec9b;&nbsp;'); }
.icon-right-small { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec9c;&nbsp;'); }
.icon-plus-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec9e;&nbsp;'); }
.icon-search-option { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeca2;&nbsp;'); }
.icon-vpc { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeca3;&nbsp;'); }
.icon-import { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeca8;&nbsp;'); }
.icon-new { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeca9;&nbsp;'); }
.icon-close { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecaa;&nbsp;'); }
.icon-minimize { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecad;&nbsp;'); }
.icon-reset { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecb4;&nbsp;'); }
.icon-upload-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecb8;&nbsp;'); }
.icon-fiscal-cal-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecba;&nbsp;'); }
.icon-email { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecbf;&nbsp;'); }
.icon-weelly { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecca;&nbsp;'); }
.icon-zip { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeccb;&nbsp;'); }
.icon-daily { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeccc;&nbsp;'); }
.icon-download-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecce;&nbsp;'); }
.icon-msi { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeccf;&nbsp;'); }
.icon-refresh-button-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecfe;&nbsp;'); }
.icon-report-symbol { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed02;&nbsp;'); }
.icon-round-account-button-with-user-inside { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed08;&nbsp;'); }
.icon-rubbish-bin-delete-button { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed18;&nbsp;'); }
.icon-searching-magnifying-glass { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed24;&nbsp;'); }
.icon-settings-cogwheel-button { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed2d;&nbsp;'); }
.icon-show-apps-button { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed35;&nbsp;'); }
.icon-show-more-button-with-three-dots { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed39;&nbsp;'); }
.icon-sort-button-with-three-lines { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed41;&nbsp;'); }
.icon-switch-to-full-screen-button { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed49;&nbsp;'); }
.icon-synchronization-arrows { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed4c;&nbsp;'); }
.icon-three-dots-more-indicator { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed56;&nbsp;'); }
.icon-turn-visibility-off-button { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed64;&nbsp;'); }
.icon-user-shape { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed75;&nbsp;'); }
.icon-users-social-symbol { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed76;&nbsp;'); }
.icon-videocam-filled-tool { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed79;&nbsp;'); }
.icon-visibility-button { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed7c;&nbsp;'); }
.icon-warning-sign { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed83;&nbsp;'); }
.icon-waving-flag { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed85;&nbsp;'); }
.icon-web-server { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed86;&nbsp;'); }
.icon-write-email-envelope-button { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed8f;&nbsp;'); }
.icon-youtube-logo { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed90;&nbsp;'); }
.icon-add-button-inside-black-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed92;&nbsp;'); }
.icon-add-plus-button { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xed95;&nbsp;'); }
.icon-blank-square { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedae;&nbsp;'); }
.icon-check-symbol { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedd4;&nbsp;'); }
.icon-clear-button { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeddd;&nbsp;'); }
.icon-close-button { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xede0;&nbsp;'); }
.icon-cloud-backup-up-arrow { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xede2;&nbsp;'); }
.icon-cloud-download { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xede4;&nbsp;'); }
.icon-copy-content { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedea;&nbsp;'); }
.icon-create-new-pencil-button { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedec;&nbsp;'); }
.icon-cut-content-button { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedf0;&nbsp;'); }
.icon-double-tick-indicator { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedf7;&nbsp;'); }
.icon-download-button { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedf8;&nbsp;'); }
.icon-filled-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee0e;&nbsp;'); }
.icon-filled-cloud { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee0f;&nbsp;'); }
.icon-folder-symbol { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee15;&nbsp;'); }
.icon-full-screen-exit { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee1c;&nbsp;'); }
.icon-go-back-left-arrow { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee21;&nbsp;'); }
.icon-google-drive-image { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee2b;&nbsp;'); }
.icon-help-round-button { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee41;&nbsp;'); }
.icon-home-button { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee47;&nbsp;'); }
.icon-insert-picture-button { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee4c;&nbsp;'); }
.icon-keyboard-left-arrow-button { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee4f;&nbsp;'); }
.icon-keyboard-right-arrow-button { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee50;&nbsp;'); }
.icon-link-button { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee59;&nbsp;'); }
.icon-list-button-with-3-elements { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee5b;&nbsp;'); }
.icon-locked-padlock { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee5e;&nbsp;'); }
.icon-map-placeholder { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee64;&nbsp;'); }
.icon-ptz { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee7d;&nbsp;'); }
.icon-1497457282_12_zoom_in { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee87;&nbsp;'); }
.icon-1497457290_13_zoom_out { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee88;&nbsp;'); }
.icon-icon-sku { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee8c;&nbsp;'); }
.icon-pos { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeea1;&nbsp;'); }
.icon-transaction { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeea9;&nbsp;'); }
.icon-shopping-bag { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeaa;&nbsp;'); }
.icon-total-amount { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeab;&nbsp;'); }
.icon-hd { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeac;&nbsp;'); }
.icon-vsc { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeead;&nbsp;'); }
.icon-add_to_queue { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeaf;&nbsp;'); }
.icon-lcs-file { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeb0;&nbsp;'); }
.icon-direction-up { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeb1;&nbsp;'); }
.icon-icon_play-01 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeb2;&nbsp;'); }
.icon-cam-dome { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeb3;&nbsp;'); }
.icon-cam-ip { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeb4;&nbsp;'); }
.icon-cam-ptz { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeb5;&nbsp;'); }
.icon-direction-down { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeb6;&nbsp;'); }
.icon-ic_camera-list { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeb7;&nbsp;'); }
.icon-ic_mp4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeb8;&nbsp;'); }
.icon-wc-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeb9;&nbsp;'); }
.icon-family { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeba;&nbsp;'); }
.icon-time-clock { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeebb;&nbsp;'); }
.icon-s-pulse { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeebc;&nbsp;'); }
.icon-l-location { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeebd;&nbsp;'); }
.icon-security { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeec2;&nbsp;'); }
.icon-steps { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeec8;&nbsp;'); }
.icon-ic-face-reco { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeec9;&nbsp;'); }
.icon-ic-temperature { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeca;&nbsp;'); }
.icon-ic-mapping { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeecc;&nbsp;'); }
.icon-ic-temperature-32px { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeecd;&nbsp;'); }
.icon-user-sync { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeece;&nbsp;'); }
.icon-empty { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeecf;&nbsp;'); }
.icon-unshared { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeed0;&nbsp;'); }
.icon-connected-adapter { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeed1;&nbsp;'); }
.icon-disconnect-adapter { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeed2;&nbsp;'); }
.icon-new-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf37d;&nbsp;'); }
.icon-add-cam { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf5a8;&nbsp;'); }
.icon-videocam-8 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf5a9;&nbsp;'); }
.icon-videocam-off { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf5aa;&nbsp;'); }
