@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?92486433');
  src: url('../font/fontello.eot?92486433#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?92486433') format('woff2'),
       url('../font/fontello.woff?92486433') format('woff'),
       url('../font/fontello.ttf?92486433') format('truetype'),
       url('../font/fontello.svg?92486433#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?92486433#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-arrow-drop-down:before { content: '\e800'; } /* '' */
.icon-draw-shape-rectangle:before { content: '\e812'; } /* '' */
.icon-check:before { content: '\e813'; } /* '' */
.icon-filter-list:before { content: '\e814'; } /* '' */
.icon-refresh-1:before { content: '\e815'; } /* '' */
.icon-dashboard:before { content: '\e82e'; } /* '' */
.icon-access-time:before { content: '\e82f'; } /* '' */
.icon-done-all:before { content: '\e830'; } /* '' */
.icon-draw-shape-line:before { content: '\e831'; } /* '' */
.icon-file-import-download:before { content: '\e833'; } /* '' */
.icon-location-on:before { content: '\e834'; } /* '' */
.icon-notifications:before { content: '\e835'; } /* '' */
.icon-draw-shape-spot:before { content: '\e836'; } /* '' */
.icon-refresh:before { content: '\e837'; } /* '' */
.icon-settings:before { content: '\e838'; } /* '' */
.icon-show-chart:before { content: '\e839'; } /* '' */
.icon-warning:before { content: '\e83a'; } /* '' */
.icon-close:before { content: '\e83b'; } /* '' */
.icon-info:before { content: '\e83c'; } /* '' */
.icon-search:before { content: '\e83d'; } /* '' */
.icon-videocam-off:before { content: '\e83e'; } /* '' */
.icon-videocam:before { content: '\e83f'; } /* '' */
