
.icon-arrow-drop-down:before { content: '\e800'; } /* '' */
.icon-line_dot_chart:before { content: '\e801'; } /* '' */
.icon-location-on-filled:before { content: '\e802'; } /* '' */
.icon-draw-shape-rectangle:before { content: '\e812'; } /* '' */
.icon-check:before { content: '\e813'; } /* '' */
.icon-filter-list:before { content: '\e814'; } /* '' */
.icon-arrow-upward:before { content: '\e817'; } /* '' */
.icon-arrow-downward:before { content: '\e818'; } /* '' */
.icon-nvr:before { content: '\e819'; } /* '' */
.icon-chevron-right:before { content: '\e81a'; } /* '' */
.icon-arrow-drop-down-1:before { content: '\e81b'; } /* '' */
.icon-expand-more:before { content: '\e81c'; } /* '' */
.icon-verification-mark:before { content: '\e81d'; } /* '' */
.icon-warning-1:before { content: '\e81e'; } /* '' */
.icon-today:before { content: '\e81f'; } /* '' */
.icon-dashboard:before { content: '\e82e'; } /* '' */
.icon-access-time:before { content: '\e82f'; } /* '' */
.icon-done-all:before { content: '\e830'; } /* '' */
.icon-draw-shape-line:before { content: '\e831'; } /* '' */
.icon-file-import-download:before { content: '\e833'; } /* '' */
.icon-location-on:before { content: '\e834'; } /* '' */
.icon-notifications:before { content: '\e835'; } /* '' */
.icon-draw-shape-spot:before { content: '\e836'; } /* '' */
.icon-refresh:before { content: '\e837'; } /* '' */
.icon-settings:before { content: '\e838'; } /* '' */
.icon-show-chart:before { content: '\e839'; } /* '' */
.icon-warning:before { content: '\e83a'; } /* '' */
.icon-close:before { content: '\e83b'; } /* '' */
.icon-info:before { content: '\e83c'; } /* '' */
.icon-search:before { content: '\e83d'; } /* '' */
.icon-videocam-off:before { content: '\e83e'; } /* '' */
.icon-videocam:before { content: '\e83f'; } /* '' */
