
.icon-arrow-drop-down:before { content: '\e800'; } /* '' */
.icon-draw-shape-rectangle:before { content: '\e812'; } /* '' */
.icon-check:before { content: '\e813'; } /* '' */
.icon-filter-list:before { content: '\e814'; } /* '' */
.icon-refresh-1:before { content: '\e815'; } /* '' */
.icon-dashboard:before { content: '\e82e'; } /* '' */
.icon-access-time:before { content: '\e82f'; } /* '' */
.icon-done-all:before { content: '\e830'; } /* '' */
.icon-draw-shape-line:before { content: '\e831'; } /* '' */
.icon-file-import-download:before { content: '\e833'; } /* '' */
.icon-location-on:before { content: '\e834'; } /* '' */
.icon-notifications:before { content: '\e835'; } /* '' */
.icon-draw-shape-spot:before { content: '\e836'; } /* '' */
.icon-refresh:before { content: '\e837'; } /* '' */
.icon-settings:before { content: '\e838'; } /* '' */
.icon-show-chart:before { content: '\e839'; } /* '' */
.icon-warning:before { content: '\e83a'; } /* '' */
.icon-close:before { content: '\e83b'; } /* '' */
.icon-info:before { content: '\e83c'; } /* '' */
.icon-search:before { content: '\e83d'; } /* '' */
.icon-videocam-off:before { content: '\e83e'; } /* '' */
.icon-videocam:before { content: '\e83f'; } /* '' */
