@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?85131870');
  src: url('../font/fontello.eot?85131870#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?85131870') format('woff2'),
       url('../font/fontello.woff?85131870') format('woff'),
       url('../font/fontello.ttf?85131870') format('truetype'),
       url('../font/fontello.svg?85131870#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?85131870#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-backward-10:before { content: '\e800'; } /* '' */
.icon-forward-10:before { content: '\e801'; } /* '' */
.icon-new-tab-button:before { content: '\e802'; } /* '' */
.icon-nfc-near-field-communication:before { content: '\e803'; } /* '' */
.icon-notifications-bell-button:before { content: '\e804'; } /* '' */
.icon-notifications-button:before { content: '\e805'; } /* '' */
.icon-notifications-silenced:before { content: '\e806'; } /* '' */
.icon-pages-of-google-plus:before { content: '\e807'; } /* '' */
.icon-painter-palette:before { content: '\e808'; } /* '' */
.icon-panoramic-mountain-photography:before { content: '\e809'; } /* '' */
.icon-parking-sign:before { content: '\e80a'; } /* '' */
.icon-pause-button:before { content: '\e80b'; } /* '' */
.icon-phone-call-button:before { content: '\e80c'; } /* '' */
.icon-phone-locked:before { content: '\e80d'; } /* '' */
.icon-phone-paused-indicator:before { content: '\e80e'; } /* '' */
.icon-phone-receiver-with-bluetooth-sign:before { content: '\e80f'; } /* '' */
.icon-phone-settings:before { content: '\e810'; } /* '' */
.icon-emo-squint:before { content: '\e811'; } /* '' */
.icon-photo-album:before { content: '\e812'; } /* '' */
.icon-photo-frame:before { content: '\e813'; } /* '' */
.icon-photographic-film-roll:before { content: '\e814'; } /* '' */
.icon-photo-library:before { content: '\e815'; } /* '' */
.icon-pinterest-logo:before { content: '\e816'; } /* '' */
.icon-planet-earth:before { content: '\e817'; } /* '' */
.icon-play-arrow:before { content: '\e818'; } /* '' */
.icon-play-button-inside-a-circle:before { content: '\e819'; } /* '' */
.icon-play-next-button:before { content: '\e81a'; } /* '' */
.icon-play-rounded-button:before { content: '\e81b'; } /* '' */
.icon-play-slideshow-button:before { content: '\e81c'; } /* '' */
.icon-plus-one:before { content: '\e81d'; } /* '' */
.icon-poll-symbol-on-black-square-with-rounded-corners:before { content: '\e81e'; } /* '' */
.icon-power-connection-indicator:before { content: '\e81f'; } /* '' */
.icon-previous-track:before { content: '\e820'; } /* '' */
.icon-printer-printing-document:before { content: '\e821'; } /* '' */
.icon-problems-with-synchronization:before { content: '\e822'; } /* '' */
.icon-progress-indicator:before { content: '\e823'; } /* '' */
.icon-public-transport-subway:before { content: '\e824'; } /* '' */
.icon-public-transport-train-directions:before { content: '\e825'; } /* '' */
.icon-puzzle-piece-plugin:before { content: '\e826'; } /* '' */
.icon-radio-on-button:before { content: '\e827'; } /* '' */
.icon-random-line:before { content: '\e828'; } /* '' */
.icon-rate-star-button:before { content: '\e829'; } /* '' */
.icon-read-more-left-arrow-button:before { content: '\e82a'; } /* '' */
.icon-receipt:before { content: '\e82b'; } /* '' */
.icon-record-voice-microphone-button:before { content: '\e82c'; } /* '' */
.icon-refresh-button:before { content: '\e82d'; } /* '' */
.icon-refresh-button-1:before { content: '\e82e'; } /* '' */
.icon-reminder-bow:before { content: '\e82f'; } /* '' */
.icon-replay-arrow:before { content: '\e830'; } /* '' */
.icon-reply-all-button:before { content: '\e831'; } /* '' */
.icon-report-symbol:before { content: '\e832'; } /* '' */
.icon-rewind-button:before { content: '\e833'; } /* '' */
.icon-right-arrow-forward:before { content: '\e834'; } /* '' */
.icon-ring-volume-control-button:before { content: '\e835'; } /* '' */
.icon-rotate-to-left-button:before { content: '\e836'; } /* '' */
.icon-rotate-to-right-button:before { content: '\e837'; } /* '' */
.icon-round-account-button-with-user-inside:before { content: '\e838'; } /* '' */
.icon-round-add-button:before { content: '\e839'; } /* '' */
.icon-round-data-usage-symbol:before { content: '\e83a'; } /* '' */
.icon-round-delete-button:before { content: '\e83b'; } /* '' */
.icon-rounded-add-button:before { content: '\e83c'; } /* '' */
.icon-rounded-add-button-1:before { content: '\e83d'; } /* '' */
.icon-rounded-adjust-button-with-plus-and-minus:before { content: '\e83e'; } /* '' */
.icon-rounded-block-sign:before { content: '\e83f'; } /* '' */
.icon-rounded-info-button:before { content: '\e840'; } /* '' */
.icon-rounded-pause-button:before { content: '\e841'; } /* '' */
.icon-rounded-remove-button:before { content: '\e842'; } /* '' */
.icon-round-error-symbol:before { content: '\e843'; } /* '' */
.icon-round-info-button:before { content: '\e844'; } /* '' */
.icon-round-pause-button:before { content: '\e845'; } /* '' */
.icon-round-remove-button:before { content: '\e846'; } /* '' */
.icon-round-rgb-button:before { content: '\e847'; } /* '' */
.icon-rubbish-bin-delete-button:before { content: '\e848'; } /* '' */
.icon-save-button:before { content: '\e849'; } /* '' */
.icon-schedule-button:before { content: '\e84a'; } /* '' */
.icon-screen-locked:before { content: '\e84b'; } /* '' */
.icon-screen-locked-1:before { content: '\e84c'; } /* '' */
.icon-screen-rotation-button:before { content: '\e84d'; } /* '' */
.icon-screen-rotation-lock-button:before { content: '\e84e'; } /* '' */
.icon-screen-with-news-sections:before { content: '\e84f'; } /* '' */
.icon-screen-with-rounded-corners:before { content: '\e850'; } /* '' */
.icon-sd-card:before { content: '\e851'; } /* '' */
.icon-sd-card-1:before { content: '\e852'; } /* '' */
.icon-searching-location-gps-indicator:before { content: '\e853'; } /* '' */
.icon-searching-magnifying-glass:before { content: '\e854'; } /* '' */
.icon-select-all:before { content: '\e855'; } /* '' */
.icon-select-brightness-button:before { content: '\e856'; } /* '' */
.icon-send-button:before { content: '\e857'; } /* '' */
.icon-send-to-back-button:before { content: '\e858'; } /* '' */
.icon-send-to-front-button:before { content: '\e859'; } /* '' */
.icon-server-rack-with-three-levels:before { content: '\e85a'; } /* '' */
.icon-set-alarm:before { content: '\e85b'; } /* '' */
.icon-set-timer-button:before { content: '\e85c'; } /* '' */
.icon-settings-cogwheel-button:before { content: '\e85d'; } /* '' */
.icon-settings-cogwheel-inside-black-square:before { content: '\e85e'; } /* '' */
.icon-share-button:before { content: '\e85f'; } /* '' */
.icon-shared-folder:before { content: '\e860'; } /* '' */
.icon-shining-rectangular-object:before { content: '\e861'; } /* '' */
.icon-shining-sun:before { content: '\e862'; } /* '' */
.icon-shopping-basket-button:before { content: '\e863'; } /* '' */
.icon-shopping-cart:before { content: '\e864'; } /* '' */
.icon-show-apps-button:before { content: '\e865'; } /* '' */
.icon-show-less-fold-button:before { content: '\e866'; } /* '' */
.icon-show-menu-button:before { content: '\e867'; } /* '' */
.icon-show-more-button:before { content: '\e868'; } /* '' */
.icon-show-more-button-with-three-dots:before { content: '\e869'; } /* '' */
.icon-shuffle-mode-arrows:before { content: '\e86a'; } /* '' */
.icon-sim-card-problem:before { content: '\e86b'; } /* '' */
.icon-smartphone-dock:before { content: '\e86c'; } /* '' */
.icon-smartphone-with-three-buttons:before { content: '\e86d'; } /* '' */
.icon-sms-bubble-speech:before { content: '\e86e'; } /* '' */
.icon-sms-speech-bubble:before { content: '\e86f'; } /* '' */
.icon-snake-game:before { content: '\e870'; } /* '' */
.icon-sort-button-with-three-lines:before { content: '\e871'; } /* '' */
.icon-speech-bubble-with-mountains-inside:before { content: '\e872'; } /* '' */
.icon-split-call-arrows:before { content: '\e873'; } /* '' */
.icon-square-add-button:before { content: '\e874'; } /* '' */
.icon-stop-button:before { content: '\e875'; } /* '' */
.icon-swap-horizontal-orientation-arrows:before { content: '\e876'; } /* '' */
.icon-swap-vertical-orientation-arrows:before { content: '\e877'; } /* '' */
.icon-switch-camera-button:before { content: '\e878'; } /* '' */
.icon-switch-to-full-screen-button:before { content: '\e879'; } /* '' */
.icon-switch-vertical-orientation-arrows:before { content: '\e87a'; } /* '' */
.icon-switch-video-on:before { content: '\e87b'; } /* '' */
.icon-synchronization-arrows:before { content: '\e87c'; } /* '' */
.icon-synchronization-button-with-two-arrows:before { content: '\e87d'; } /* '' */
.icon-synchronization-problem:before { content: '\e87e'; } /* '' */
.icon-tablet-with-blank-screen:before { content: '\e87f'; } /* '' */
.icon-tab-symbol:before { content: '\e880'; } /* '' */
.icon-tack-save-button:before { content: '\e881'; } /* '' */
.icon-tag-button-with-happy-face:before { content: '\e882'; } /* '' */
.icon-telephone-keypad-with-ten-keys:before { content: '\e883'; } /* '' */
.icon-thermostat-temperature-wheel:before { content: '\e884'; } /* '' */
.icon-three-columns-layout:before { content: '\e885'; } /* '' */
.icon-three-dots-more-indicator:before { content: '\e886'; } /* '' */
.icon-thumb-down-button:before { content: '\e887'; } /* '' */
.icon-thumb-up-button:before { content: '\e888'; } /* '' */
.icon-tick-inside-circle:before { content: '\e889'; } /* '' */
.icon-time-lapse:before { content: '\e88a'; } /* '' */
.icon-traffic-light:before { content: '\e88b'; } /* '' */
.icon-train-public-transport:before { content: '\e88c'; } /* '' */
.icon-tumblr-logo:before { content: '\e88d'; } /* '' */
.icon-turn-airplane-mode-off:before { content: '\e88e'; } /* '' */
.icon-turn-microphone-off-button:before { content: '\e88f'; } /* '' */
.icon-turn-notifications-off-button:before { content: '\e890'; } /* '' */
.icon-turn-notifications-on-button:before { content: '\e891'; } /* '' */
.icon-turn-synchronization-off:before { content: '\e892'; } /* '' */
.icon-turn-video-off-button:before { content: '\e893'; } /* '' */
.icon-turn-visibility-off-button:before { content: '\e894'; } /* '' */
.icon-twitter-logo-on-black-background:before { content: '\e895'; } /* '' */
.icon-two-circles-one-inside-the-other:before { content: '\e896'; } /* '' */
.icon-two-men:before { content: '\e897'; } /* '' */
.icon-two-rows-and-three-columns-layout:before { content: '\e898'; } /* '' */
.icon-underline-button:before { content: '\e899'; } /* '' */
.icon-underline-text-button:before { content: '\e89a'; } /* '' */
.icon-undo-button:before { content: '\e89b'; } /* '' */
.icon-unlocked-padlock:before { content: '\e89c'; } /* '' */
.icon-up-arrow-key:before { content: '\e89d'; } /* '' */
.icon-upload-button:before { content: '\e89e'; } /* '' */
.icon-upload-to-cloud-button:before { content: '\e89f'; } /* '' */
.icon-usb-symbol:before { content: '\e8a0'; } /* '' */
.icon-user-account-box:before { content: '\e8a1'; } /* '' */
.icon-user-account-box-1:before { content: '\e8a2'; } /* '' */
.icon-user-inside-bubble-speech:before { content: '\e8a3'; } /* '' */
.icon-user-outline:before { content: '\e8a4'; } /* '' */
.icon-user-shape:before { content: '\e8a5'; } /* '' */
.icon-users-social-symbol:before { content: '\e8a6'; } /* '' */
.icon-verification-mark:before { content: '\e8a7'; } /* '' */
.icon-videocall-button:before { content: '\e8a8'; } /* '' */
.icon-videocam-filled-tool:before { content: '\e8a9'; } /* '' */
.icon-view-list-button:before { content: '\e8aa'; } /* '' */
.icon-virtual-private-network-vpn-symbol:before { content: '\e8ab'; } /* '' */
.icon-visibility-button:before { content: '\e8ac'; } /* '' */
.icon-voicemail:before { content: '\e8ad'; } /* '' */
.icon-voice-message-microphone-button:before { content: '\e8ae'; } /* '' */
.icon-volume-down-indicator:before { content: '\e8af'; } /* '' */
.icon-volume-muted:before { content: '\e8b0'; } /* '' */
.icon-volume-off-indicator:before { content: '\e8b1'; } /* '' */
.icon-volume-up-indicator:before { content: '\e8b2'; } /* '' */
.icon-warning-sign:before { content: '\e8b3'; } /* '' */
.icon-watch-with-blank-face:before { content: '\e8b4'; } /* '' */
.icon-waving-flag:before { content: '\e8b5'; } /* '' */
.icon-web-server:before { content: '\e8b6'; } /* '' */
.icon-website-with-different-sections:before { content: '\e8b7'; } /* '' */
.icon-wifi-high-signal:before { content: '\e8b8'; } /* '' */
.icon-wifi-low-signal-with-one-bar:before { content: '\e8b9'; } /* '' */
.icon-wifi-signal-waves:before { content: '\e8ba'; } /* '' */
.icon-window-with-different-sections:before { content: '\e8bb'; } /* '' */
.icon-work-briefcase:before { content: '\e8bc'; } /* '' */
.icon-workspace-with-two-horizontal-windows:before { content: '\e8bd'; } /* '' */
.icon-world-shape-public-symbol:before { content: '\e8be'; } /* '' */
.icon-write-email-envelope-button:before { content: '\e8bf'; } /* '' */
.icon-youtube-logo:before { content: '\e8c0'; } /* '' */
.icon-add-alarm-button:before { content: '\e8c1'; } /* '' */
.icon-add-button-inside-black-circle:before { content: '\e8c2'; } /* '' */
.icon-add-comment-button:before { content: '\e8c3'; } /* '' */
.icon-add-label-button:before { content: '\e8c4'; } /* '' */
.icon-add-plus-button:before { content: '\e8c5'; } /* '' */
.icon-add-to-queue-button:before { content: '\e8c6'; } /* '' */
.icon-add-user-button:before { content: '\e8c7'; } /* '' */
.icon-adjust-button-with-plus-and-minus:before { content: '\e8c8'; } /* '' */
.icon-airplane-mode-on-symbol:before { content: '\e8c9'; } /* '' */
.icon-android-logo:before { content: '\e8ca'; } /* '' */
.icon-android-logo-1:before { content: '\e8cb'; } /* '' */
.icon-apple-accessibility:before { content: '\e8cc'; } /* '' */
.icon-attachment-clip:before { content: '\e8cd'; } /* '' */
.icon-automatic-brightness:before { content: '\e8ce'; } /* '' */
.icon-automatic-flash-symbol:before { content: '\e8cf'; } /* '' */
.icon-auto-white-balance:before { content: '\e8d0'; } /* '' */
.icon-back-arrow:before { content: '\e8d1'; } /* '' */
.icon-backspace-arrow:before { content: '\e8d2'; } /* '' */
.icon-bed-quilt:before { content: '\e8d3'; } /* '' */
.icon-been-here-marker:before { content: '\e8d4'; } /* '' */
.icon-birthday-cake:before { content: '\e8d5'; } /* '' */
.icon-black-bubble-speech:before { content: '\e8d6'; } /* '' */
.icon-black-check-box:before { content: '\e8d7'; } /* '' */
.icon-black-check-box-with-white-check:before { content: '\e8d8'; } /* '' */
.icon-black-envelope-email-symbol:before { content: '\e8d9'; } /* '' */
.icon-black-keyboard-with-white-keys:before { content: '\e8da'; } /* '' */
.icon-black-plane:before { content: '\e8db'; } /* '' */
.icon-blank-check-box:before { content: '\e8dc'; } /* '' */
.icon-blank-frame:before { content: '\e8dd'; } /* '' */
.icon-blank-square:before { content: '\e8de'; } /* '' */
.icon-blogger-logo:before { content: '\e8df'; } /* '' */
.icon-blueetooth-logo:before { content: '\e8e0'; } /* '' */
.icon-bluetooth-connected:before { content: '\e8e1'; } /* '' */
.icon-bluetooth-disabled-button:before { content: '\e8e2'; } /* '' */
.icon-bluetooth-searching-signal-indicator:before { content: '\e8e3'; } /* '' */
.icon-bluetooth-settings:before { content: '\e8e4'; } /* '' */
.icon-bluetooth-signal-indicator:before { content: '\e8e5'; } /* '' */
.icon-bookmark-button:before { content: '\e8e6'; } /* '' */
.icon-bookmark-button-1:before { content: '\e8e7'; } /* '' */
.icon-bookmark-outline:before { content: '\e8e8'; } /* '' */
.icon-bookmark-ribbon:before { content: '\e8e9'; } /* '' */
.icon-briefcase-download-button-with-downwards-arrow:before { content: '\e8ea'; } /* '' */
.icon-briefcase-with-tick-inside:before { content: '\e8eb'; } /* '' */
.icon-brightness-control:before { content: '\e8ec'; } /* '' */
.icon-brochure-with-three-sections:before { content: '\e8ed'; } /* '' */
.icon-bubble-speech-with-three-lines:before { content: '\e8ee'; } /* '' */
.icon-bug-report-button:before { content: '\e8ef'; } /* '' */
.icon-burn-button:before { content: '\e8f0'; } /* '' */
.icon-button-on:before { content: '\e8f1'; } /* '' */
.icon-call-forwarding:before { content: '\e8f2'; } /* '' */
.icon-call-made-right-arrow:before { content: '\e8f3'; } /* '' */
.icon-call-received-arrow:before { content: '\e8f4'; } /* '' */
.icon-camera:before { content: '\e8f5'; } /* '' */
.icon-camera-diaphragm:before { content: '\e8f6'; } /* '' */
.icon-cancel-button:before { content: '\e8f7'; } /* '' */
.icon-caps-lock-button:before { content: '\e8f8'; } /* '' */
.icon-caps-lock-button-1:before { content: '\e8f9'; } /* '' */
.icon-car-changing-lanes:before { content: '\e8fa'; } /* '' */
.icon-car-directions:before { content: '\e8fb'; } /* '' */
.icon-car-front:before { content: '\e8fc'; } /* '' */
.icon-cell-phone-high-signal-indicator:before { content: '\e8fd'; } /* '' */
.icon-cell-phone-vibration:before { content: '\e8fe'; } /* '' */
.icon-cell-phone-with-blank-screen:before { content: '\e8ff'; } /* '' */
.icon-change-power-options:before { content: '\e900'; } /* '' */
.icon-chat-bubble:before { content: '\e901'; } /* '' */
.icon-chat-bubbles:before { content: '\e902'; } /* '' */
.icon-check-box:before { content: '\e903'; } /* '' */
.icon-check-symbol:before { content: '\e904'; } /* '' */
.icon-chemistry-polymer:before { content: '\e905'; } /* '' */
.icon-circle-outline:before { content: '\e906'; } /* '' */
.icon-circles-extend-button:before { content: '\e907'; } /* '' */
.icon-circle-with-check-symbol:before { content: '\e908'; } /* '' */
.icon-circumference:before { content: '\e909'; } /* '' */
.icon-city-buildings-silhouette:before { content: '\e90a'; } /* '' */
.icon-clapperboard:before { content: '\e90b'; } /* '' */
.icon-clapperboard-1:before { content: '\e90c'; } /* '' */
.icon-clear-button:before { content: '\e90d'; } /* '' */
.icon-clipboard-paste-button:before { content: '\e90e'; } /* '' */
.icon-clock-with-white-face:before { content: '\e90f'; } /* '' */
.icon-close-button:before { content: '\e910'; } /* '' */
.icon-closed-caption-logo:before { content: '\e911'; } /* '' */
.icon-cloud-backup-up-arrow:before { content: '\e912'; } /* '' */
.icon-cloud-done-symbol:before { content: '\e913'; } /* '' */
.icon-cloud-download:before { content: '\e914'; } /* '' */
.icon-cloud-off:before { content: '\e915'; } /* '' */
.icon-cloud-outline:before { content: '\e916'; } /* '' */
.icon-cloud-symbol-inside-a-circle:before { content: '\e917'; } /* '' */
.icon-compass-with-white-needles:before { content: '\e918'; } /* '' */
.icon-connection-indicator:before { content: '\e919'; } /* '' */
.icon-copy-content:before { content: '\e91a'; } /* '' */
.icon-create-group-button:before { content: '\e91b'; } /* '' */
.icon-create-new-pencil-button:before { content: '\e91c'; } /* '' */
.icon-credit-card:before { content: '\e91d'; } /* '' */
.icon-crop-button:before { content: '\e91e'; } /* '' */
.icon-crop-tool-button:before { content: '\e91f'; } /* '' */
.icon-cut-content-button:before { content: '\e920'; } /* '' */
.icon-dark-cloud:before { content: '\e921'; } /* '' */
.icon-developer-mode-for-smartphones-and-tablets:before { content: '\e922'; } /* '' */
.icon-device-connected:before { content: '\e923'; } /* '' */
.icon-device-connected-1:before { content: '\e924'; } /* '' */
.icon-disc-is-full:before { content: '\e925'; } /* '' */
.icon-do-not-disturb-rounded-sign:before { content: '\e926'; } /* '' */
.icon-double-tick-indicator:before { content: '\e927'; } /* '' */
.icon-download-button:before { content: '\e928'; } /* '' */
.icon-download-button-1:before { content: '\e929'; } /* '' */
.icon-download-to-smartphone:before { content: '\e92a'; } /* '' */
.icon-downwards-arrow-key:before { content: '\e92b'; } /* '' */
.icon-drafts-evelope-button:before { content: '\e92c'; } /* '' */
.icon-drop-down-arrow:before { content: '\e92d'; } /* '' */
.icon-drop-down-round-button:before { content: '\e92e'; } /* '' */
.icon-drop-up-arrow:before { content: '\e92f'; } /* '' */
.icon-earth-grid-select-language-button:before { content: '\e930'; } /* '' */
.icon-ellipsis:before { content: '\e931'; } /* '' */
.icon-email-inbox:before { content: '\e932'; } /* '' */
.icon-emoticon-with-happy-face:before { content: '\e933'; } /* '' */
.icon-end-call-button:before { content: '\e934'; } /* '' */
.icon-enter-arrow:before { content: '\e935'; } /* '' */
.icon-exit-to-app-button:before { content: '\e936'; } /* '' */
.icon-expand-arrow:before { content: '\e937'; } /* '' */
.icon-expand-button:before { content: '\e938'; } /* '' */
.icon-facebook-logo:before { content: '\e939'; } /* '' */
.icon-failed-sms:before { content: '\e93a'; } /* '' */
.icon-fast-forward-button:before { content: '\e93b'; } /* '' */
.icon-favorite-heart-button:before { content: '\e93c'; } /* '' */
.icon-favorite-heart-outline-button:before { content: '\e93d'; } /* '' */
.icon-filled-circle:before { content: '\e93e'; } /* '' */
.icon-filled-cloud:before { content: '\e93f'; } /* '' */
.icon-filled-speaker-with-white-details:before { content: '\e940'; } /* '' */
.icon-film-roll:before { content: '\e941'; } /* '' */
.icon-filter-results-button:before { content: '\e942'; } /* '' */
.icon-flash-off:before { content: '\e943'; } /* '' */
.icon-flash-on-indicator:before { content: '\e944'; } /* '' */
.icon-folder-symbol:before { content: '\e945'; } /* '' */
.icon-forward-arrow:before { content: '\e946'; } /* '' */
.icon-forward-right-arrow-button:before { content: '\e947'; } /* '' */
.icon-framed-portrait:before { content: '\e948'; } /* '' */
.icon-front-bus:before { content: '\e949'; } /* '' */
.icon-front-car:before { content: '\e94a'; } /* '' */
.icon-front-store:before { content: '\e94b'; } /* '' */
.icon-full-screen-exit:before { content: '\e94c'; } /* '' */
.icon-gamepad:before { content: '\e94d'; } /* '' */
.icon-gamepad-1:before { content: '\e94e'; } /* '' */
.icon-get-directions-button:before { content: '\e94f'; } /* '' */
.icon-gmail-logo:before { content: '\e950'; } /* '' */
.icon-go-back-left-arrow:before { content: '\e951'; } /* '' */
.icon-good-mood-emoticon:before { content: '\e952'; } /* '' */
.icon-good-wifi-signal-with-three-bars:before { content: '\e953'; } /* '' */
.icon-google-apps-script-logo:before { content: '\e954'; } /* '' */
.icon-google-cast-logo:before { content: '\e955'; } /* '' */
.icon-google-chrome-logo-filled-with-white-colour:before { content: '\e956'; } /* '' */
.icon-google-drive-document:before { content: '\e957'; } /* '' */
.icon-google-drive-file:before { content: '\e958'; } /* '' */
.icon-google-drive-folder-symbol:before { content: '\e959'; } /* '' */
.icon-google-drive-fusion-tables-logo:before { content: '\e95a'; } /* '' */
.icon-google-drive-image:before { content: '\e95b'; } /* '' */
.icon-google-drive-logo:before { content: '\e95c'; } /* '' */
.icon-google-drive-pdf-file:before { content: '\e95d'; } /* '' */
.icon-google-drive-presentation:before { content: '\e95e'; } /* '' */
.icon-google-drive-spreadsheet:before { content: '\e95f'; } /* '' */
.icon-google-glass-logo:before { content: '\e960'; } /* '' */
.icon-google-hangouts-logo:before { content: '\e961'; } /* '' */
.icon-google-hangouts-turn-video-off:before { content: '\e962'; } /* '' */
.icon-google-plus-logo:before { content: '\e963'; } /* '' */
.icon-google-plus-logo-on-black-background:before { content: '\e964'; } /* '' */
.icon-google-plus-party-mode:before { content: '\e965'; } /* '' */
.icon-google-symbol:before { content: '\e966'; } /* '' */
.icon-gps-fixed-indicator:before { content: '\e967'; } /* '' */
.icon-gps-location-disabled:before { content: '\e968'; } /* '' */
.icon-gps-location-symbol:before { content: '\e969'; } /* '' */
.icon-gps-off:before { content: '\e96a'; } /* '' */
.icon-graduate-cap:before { content: '\e96b'; } /* '' */
.icon-half-filled-rating-star:before { content: '\e96c'; } /* '' */
.icon-hangouts-videocall-button:before { content: '\e96d'; } /* '' */
.icon-headset:before { content: '\e96e'; } /* '' */
.icon-headset-with-microphone:before { content: '\e96f'; } /* '' */
.icon-help-button-speech-bubble-with-question-mark:before { content: '\e970'; } /* '' */
.icon-help-round-button:before { content: '\e971'; } /* '' */
.icon-hide-keyboard-button:before { content: '\e972'; } /* '' */
.icon-high-quality-button:before { content: '\e973'; } /* '' */
.icon-high-signal-indicator:before { content: '\e974'; } /* '' */
.icon-high-wifi-signal-indicator:before { content: '\e975'; } /* '' */
.icon-history-clock-button:before { content: '\e976'; } /* '' */
.icon-home-button:before { content: '\e977'; } /* '' */
.icon-horizontal-line-remove-button:before { content: '\e978'; } /* '' */
.icon-hotel-with-three-floors:before { content: '\e979'; } /* '' */
.icon-https-symbol:before { content: '\e97a'; } /* '' */
.icon-import-export-arrows:before { content: '\e97b'; } /* '' */
.icon-insert-picture-button:before { content: '\e97c'; } /* '' */
.icon-instagram-logo:before { content: '\e97d'; } /* '' */
.icon-invert-colors-button:before { content: '\e97e'; } /* '' */
.icon-keyboard-left-arrow-button:before { content: '\e97f'; } /* '' */
.icon-keyboard-right-arrow-button:before { content: '\e980'; } /* '' */
.icon-keyboard-right-arrow-button-1:before { content: '\e981'; } /* '' */
.icon-label-right-arrow-outline:before { content: '\e982'; } /* '' */
.icon-landscape-with-mountains:before { content: '\e983'; } /* '' */
.icon-laptop-outline:before { content: '\e984'; } /* '' */
.icon-left-arrow-key:before { content: '\e985'; } /* '' */
.icon-left-arrow-key-1:before { content: '\e986'; } /* '' */
.icon-left-arrow-missed-call:before { content: '\e987'; } /* '' */
.icon-light-bulb-on:before { content: '\e988'; } /* '' */
.icon-link-button:before { content: '\e989'; } /* '' */
.icon-linkedin-logo:before { content: '\e98a'; } /* '' */
.icon-list-button-with-3-elements:before { content: '\e98b'; } /* '' */
.icon-list-of-three-elements-on-black-background:before { content: '\e98c'; } /* '' */
.icon-location-arrow:before { content: '\e98d'; } /* '' */
.icon-locked-padlock:before { content: '\e98e'; } /* '' */
.icon-locked-padlock-outline:before { content: '\e98f'; } /* '' */
.icon-low-signal-indicator:before { content: '\e990'; } /* '' */
.icon-magic-wand-auto-fix-button:before { content: '\e991'; } /* '' */
.icon-man-cycling:before { content: '\e992'; } /* '' */
.icon-man-walking-directions-button:before { content: '\e993'; } /* '' */
.icon-map-placeholder:before { content: '\e994'; } /* '' */
.icon-map-symbol:before { content: '\e995'; } /* '' */
.icon-mark-as-favorite-star:before { content: '\e996'; } /* '' */
.icon-mark-as-unread-envelope-button:before { content: '\e997'; } /* '' */
.icon-medium-brightness-cogwheel:before { content: '\e998'; } /* '' */
.icon-medium-signal:before { content: '\e999'; } /* '' */
.icon-medium-wifi-signal-with-two-bars:before { content: '\e99a'; } /* '' */
.icon-memory-chip:before { content: '\e99b'; } /* '' */
.icon-menu-button:before { content: '\e99c'; } /* '' */
.icon-merge-calls-arrow:before { content: '\e99d'; } /* '' */
.icon-microphone-of-voice:before { content: '\e99e'; } /* '' */
.icon-microphone-voice-button:before { content: '\e99f'; } /* '' */
.icon-microsoft-excel-logo:before { content: '\e9a0'; } /* '' */
.icon-microsoft-word-logo:before { content: '\e9a1'; } /* '' */
.icon-missed-call-phone-receiver-with-left-arrow:before { content: '\e9a2'; } /* '' */
.icon-mountain-range:before { content: '\e9a3'; } /* '' */
.icon-mountain-range-on-black-background:before { content: '\e9a4'; } /* '' */
.icon-mountains-inside-a-circle:before { content: '\e9a5'; } /* '' */
.icon-mouse-filled-tool:before { content: '\e9a6'; } /* '' */
.icon-store-3:before { content: '\e9a7'; } /* '' */
.icon-normallize:before { content: '\e9a8'; } /* '' */
.icon-dvr-null:before { content: '\e9a9'; } /* '' */
.icon-a-to-z:before { content: '\e9aa'; } /* '' */
.icon-panorama:before { content: '\e9ab'; } /* '' */
.icon-panorama-ptz:before { content: '\e9ac'; } /* '' */
.icon-ptz:before { content: '\e9ad'; } /* '' */
.icon-fisheye:before { content: '\e9ae'; } /* '' */
.icon-fisheye-ptz:before { content: '\e9af'; } /* '' */
.icon-custom-panorama-fisheye-ptz:before { content: '\e9b0'; } /* '' */
.icon-mount-type-horizoltal:before { content: '\e9b1'; } /* '' */
.icon-mount-type-bottom:before { content: '\e9b2'; } /* '' */
.icon-mount-type-top:before { content: '\e9b3'; } /* '' */
.icon-focus-out:before { content: '\e9b4'; } /* '' */
.icon-iris-close:before { content: '\e9b5'; } /* '' */
.icon-focus-in:before { content: '\e9b6'; } /* '' */
.icon-1497457282_12_zoom_in:before { content: '\e9b7'; } /* '' */
.icon-1497457290_13_zoom_out:before { content: '\e9b8'; } /* '' */
.icon-iris-open:before { content: '\e9b9'; } /* '' */
.icon-system-setup:before { content: '\e9ba'; } /* '' */
.icon-small-arrow-down:before { content: '\e9bb'; } /* '' */
.icon-reports:before { content: '\e9bc'; } /* '' */
.icon-heatmap:before { content: '\e9bd'; } /* '' */
.icon-dot:before { content: '\e9be'; } /* '' */
.icon-small-arrow-up:before { content: '\e9bf'; } /* '' */
.icon-cloud-backup-ftp:before { content: '\e9c0'; } /* '' */
.icon-icon_adjusment:before { content: '\e9c1'; } /* '' */
.icon-icon_day_night:before { content: '\e9c2'; } /* '' */
.icon-icon_expose_setting:before { content: '\e9c3'; } /* '' */
.icon-icon_snmp_network:before { content: '\e9c4'; } /* '' */
.icon-icon_image_quality:before { content: '\e9c5'; } /* '' */
.icon-image-download-button:before { content: '\e9c6'; } /* '' */
.icon-line-crossing:before { content: '\e9c7'; } /* '' */
.icon-recording-schedule:before { content: '\e9c8'; } /* '' */
.icon-record-download-button:before { content: '\e9c9'; } /* '' */
.icon-icon_color-wheel:before { content: '\e9ca'; } /* '' */
.icon-server-add:before { content: '\e9cb'; } /* '' */
.icon-circle-arrow-right:before { content: '\e9cc'; } /* '' */
.icon-circle-cehcked:before { content: '\e9cd'; } /* '' */
.icon-backup-config:before { content: '\e9ce'; } /* '' */
.icon-backup-panic:before { content: '\e9cf'; } /* '' */
.icon-folder-browser-files:before { content: '\e9d0'; } /* '' */
.icon-camera-add-2:before { content: '\e9d1'; } /* '' */
.icon-choose-cameras:before { content: '\e9d2'; } /* '' */
.icon-camera-add:before { content: '\e9d3'; } /* '' */
.icon-ptz-arrow-bottom-left:before { content: '\e9d4'; } /* '' */
.icon-ptz-arrow-bottom-right:before { content: '\e9d5'; } /* '' */
.icon-ptz-arrow-left:before { content: '\e9d6'; } /* '' */
.icon-ptz-arrow-right:before { content: '\e9d7'; } /* '' */
.icon-ptz-arrow-top:before { content: '\e9d8'; } /* '' */
.icon-ptz-arrow-top-right:before { content: '\e9d9'; } /* '' */
.icon-ptz-arrow-top-left:before { content: '\e9da'; } /* '' */
.icon-ptz-arrow-bottom:before { content: '\e9db'; } /* '' */
.icon-control-sensors:before { content: '\e9dc'; } /* '' */
.icon-copy-to-group:before { content: '\e9dd'; } /* '' */
.icon-custom:before { content: '\e9de'; } /* '' */
.icon-email-noti:before { content: '\e9df'; } /* '' */
.icon-filter:before { content: '\e9e0'; } /* '' */
.icon-group-add:before { content: '\e9e1'; } /* '' */
.icon-move-group:before { content: '\e9e2'; } /* '' */
.icon-move-to-group:before { content: '\e9e3'; } /* '' */
.icon-remove:before { content: '\e9e4'; } /* '' */
.icon-report-delete:before { content: '\e9e5'; } /* '' */
.icon-report-run:before { content: '\e9e6'; } /* '' */
.icon-folder-group:before { content: '\e9e7'; } /* '' */
.icon-server:before { content: '\e9e8'; } /* '' */
.icon-server-add-2:before { content: '\e9e9'; } /* '' */
.icon-folder-site:before { content: '\e9ea'; } /* '' */
.icon-system-auto:before { content: '\e9eb'; } /* '' */
.icon-system-date:before { content: '\e9ec'; } /* '' */
.icon-system-descriptions:before { content: '\e9ed'; } /* '' */
.icon-folder-users:before { content: '\e9ee'; } /* '' */
.icon-video-loss-alarm:before { content: '\e9ef'; } /* '' */
.icon-watermark:before { content: '\e9f0'; } /* '' */
.icon-ic_visibility:before { content: '\e9f1'; } /* '' */
.icon-ic_visibility_off:before { content: '\e9f2'; } /* '' */
.icon-ic_arrow_upward:before { content: '\e9f3'; } /* '' */
.icon-ic_arrow_downward:before { content: '\e9f4'; } /* '' */
.icon-ic_arrow_back:before { content: '\e9f5'; } /* '' */
.icon-ic_arrow_forward:before { content: '\e9f6'; } /* '' */
.icon-close-panel:before { content: '\e9f7'; } /* '' */
.icon-ic-cancel:before { content: '\e9f8'; } /* '' */
.icon-ic-discount:before { content: '\e9f9'; } /* '' */
.icon-ic-nosale:before { content: '\e9fa'; } /* '' */
.icon-ic-refund:before { content: '\e9fb'; } /* '' */
.icon-ic-void:before { content: '\e9fc'; } /* '' */
.icon-open-panel:before { content: '\e9fd'; } /* '' */
.icon-bi-grey-icon:before { content: '\e9fe'; } /* '' */
.icon-icon-status-notify:before { content: '\e9ff'; } /* '' */
.icon-cms:before { content: '\ea00'; } /* '' */
.icon-icon-expand:before { content: '\ea01'; } /* '' */
.icon-veo:before { content: '\ea02'; } /* '' */
.icon-vpc:before { content: '\ea03'; } /* '' */
.icon-pro:before { content: '\ea04'; } /* '' */
.icon-vpc-1:before { content: '\ea05'; } /* '' */
.icon-icon-collapse:before { content: '\ea06'; } /* '' */
.icon-ic_public_black_48px:before { content: '\ea07'; } /* '' */
.icon-add-camera:before { content: '\ea08'; } /* '' */
.icon-add-group:before { content: '\ea09'; } /* '' */
.icon-io-device:before { content: '\ea0a'; } /* '' */
.icon-icon-dvr:before { content: '\ea0b'; } /* '' */
.icon-de:before { content: '\ea0c'; } /* '' */
.icon-in:before { content: '\ea0d'; } /* '' */
.icon-off-to-on:before { content: '\ea0e'; } /* '' */
.icon-ic_add-cameras:before { content: '\ea0f'; } /* '' */
.icon-ic_camera-setting:before { content: '\ea10'; } /* '' */
.icon-ic_ip_down:before { content: '\ea11'; } /* '' */
.icon-ic_down:before { content: '\ea12'; } /* '' */
.icon-ic_ip_up:before { content: '\ea13'; } /* '' */
.icon-ic_up:before { content: '\ea14'; } /* '' */
.icon-on-to-off:before { content: '\ea15'; } /* '' */
.icon-z-to-a:before { content: '\ea16'; } /* '' */
.icon-ic_camera-list:before { content: '\ea17'; } /* '' */
.icon-ic_server-setting:before { content: '\ea18'; } /* '' */
.icon-alarm-schedule:before { content: '\ea19'; } /* '' */
.icon-uio8:before { content: '\ea1a'; } /* '' */
.icon-delete-forever:before { content: '\ea1b'; } /* '' */
.icon-draw-line:before { content: '\ea1c'; } /* '' */
.icon-flip-horizontal:before { content: '\ea1d'; } /* '' */
.icon-shape-polygon:before { content: '\ea1e'; } /* '' */
.icon-shape-square:before { content: '\ea1f'; } /* '' */
.icon-ic_mid:before { content: '\ea20'; } /* '' */
.icon-ic_vpn_key_24px:before { content: '\ea21'; } /* '' */
.icon-settings-gear:before { content: '\ea22'; } /* '' */
.icon-ic_format_list_bulleted_24px:before { content: '\ea23'; } /* '' */
.icon-supervised_user_circle-2:before { content: '\ea24'; } /* '' */
.icon-upgrade-app:before { content: '\ea25'; } /* '' */
.icon-l-settings:before { content: '\ea26'; } /* '' */
.icon-file-text:before { content: '\ea27'; } /* '' */
.icon-bold-direction:before { content: '\ea28'; } /* '' */
.icon-company:before { content: '\ea29'; } /* '' */
.icon-office:before { content: '\ea2a'; } /* '' */
.icon-region:before { content: '\ea2b'; } /* '' */
.icon-pie-chart:before { content: '\ea2c'; } /* '' */
.icon-stopwatch:before { content: '\ea2d'; } /* '' */
.icon-grid-view:before { content: '\ea2e'; } /* '' */
.icon-site:before { content: '\ea2f'; } /* '' */
.icon-lauch-app:before { content: '\ea30'; } /* '' */
.icon-monitor-dashboard:before { content: '\ea31'; } /* '' */
.icon-pin:before { content: '\ea32'; } /* '' */
.icon-unpin:before { content: '\ea33'; } /* '' */
.icon-video_outline:before { content: '\ea34'; } /* '' */
.icon-skip-next:before { content: '\ea35'; } /* '' */
.icon-videocam-off:before { content: '\ea36'; } /* '' */
.icon-camera-alt:before { content: '\ea37'; } /* '' */
.icon-skip-previous:before { content: '\ea38'; } /* '' */
.icon-folder-open:before { content: '\ea3a'; } /* '' */
.icon-hd:before { content: '\ea3b'; } /* '' */
.icon-data-download:before { content: '\ea3c'; } /* '' */
.icon-video-library:before { content: '\ea3d'; } /* '' */
.icon-crop-original:before { content: '\ea3e'; } /* '' */
.icon-panorama-horizontal:before { content: '\ea3f'; } /* '' */
.icon-drag-indicator:before { content: '\ea40'; } /* '' */
.icon-filter-alt:before { content: '\ea41'; } /* '' */
.icon-setting-outline:before { content: '\ea42'; } /* '' */
.icon-share:before { content: '\ea43'; } /* '' */
.icon-link-off:before { content: '\ea44'; } /* '' */
.icon-group-user:before { content: '\ea45'; } /* '' */
.icon-folder_outlined:before { content: '\ea46'; } /* '' */
.icon-not-recording:before { content: '\ea47'; } /* '' */
.icon-priority-warning:before { content: '\ea48'; } /* '' */
.icon-insert-drive-file:before { content: '\ea49'; } /* '' */
.icon-folder-special:before { content: '\ea4a'; } /* '' */
.icon-bookmark_add:before { content: '\ea4b'; } /* '' */
.icon-open-in-new:before { content: '\ea4c'; } /* '' */
.icon-create-new-folder-stroke:before { content: '\ea4d'; } /* '' */
.icon-empty:before { content: '\ea4e'; } /* '' */
