
.icon-change-backup-storage:before { content: '\e800'; } /* '' */
.icon-check-symbol:before { content: '\e801'; } /* '' */
.icon-clear-button:before { content: '\e802'; } /* '' */
.icon-clock-with-white-face:before { content: '\e803'; } /* '' */
.icon-create-new-pencil-button:before { content: '\e804'; } /* '' */
.icon-double-tick-indicator:before { content: '\e805'; } /* '' */
.icon-earth-grid-select-language-button:before { content: '\e806'; } /* '' */
.icon-ellipsis:before { content: '\e807'; } /* '' */
.icon-expand-arrow:before { content: '\e808'; } /* '' */
.icon-expand-button:before { content: '\e809'; } /* '' */
.icon-filter:before { content: '\e80a'; } /* '' */
.icon-go-back-left-arrow:before { content: '\e80b'; } /* '' */
.icon-hdd-format:before { content: '\e80c'; } /* '' */
.icon-health:before { content: '\e80d'; } /* '' */
.icon-icon-dvr:before { content: '\e80e'; } /* '' */
.icon-insufficient-disk-space:before { content: '\e80f'; } /* '' */
.icon-keyboard-left-arrow-button:before { content: '\e810'; } /* '' */
.icon-keyboard-right-arrow-button:before { content: '\e811'; } /* '' */
.icon-out-fullscreen:before { content: '\e812'; } /* '' */
.icon-locked-padlock:before { content: '\e813'; } /* '' */
.icon-logout:before { content: '\e814'; } /* '' */
.icon-menu-button:before { content: '\e815'; } /* '' */
.icon-less-than-90:before { content: '\e816'; } /* '' */
.icon-notifications-button:before { content: '\e817'; } /* '' */
.icon-not-recording:before { content: '\e818'; } /* '' */
.icon-nvr-offline:before { content: '\e819'; } /* '' */
.icon-partition-dropped:before { content: '\e81a'; } /* '' */
.icon-polocies:before { content: '\e81b'; } /* '' */
.icon-pos:before { content: '\e81c'; } /* '' */
.icon-power-connection-indicator:before { content: '\e81d'; } /* '' */
.icon-round-account-button-with-user-inside:before { content: '\e81e'; } /* '' */
.icon-round-info-button:before { content: '\e81f'; } /* '' */
.icon-round-error-symbol:before { content: '\e820'; } /* '' */
.icon-rubbish-bin-delete-button:before { content: '\e821'; } /* '' */
.icon-searching-magnifying-glass:before { content: '\e822'; } /* '' */
.icon-sites:before { content: '\e823'; } /* '' */
.icon-smart-er:before { content: '\e824'; } /* '' */
.icon-switch-to-full-screen-button:before { content: '\e825'; } /* '' */
.icon-tack-save-button:before { content: '\e826'; } /* '' */
.icon-turn-video-off-button:before { content: '\e827'; } /* '' */
.icon-turn-visibility-off-button:before { content: '\e828'; } /* '' */
.icon-two-rows-and-three-columns-layout:before { content: '\e829'; } /* '' */
.icon-user-shape:before { content: '\e82a'; } /* '' */
.icon-videocam-filled-tool:before { content: '\e82b'; } /* '' */
.icon-users-social-symbol:before { content: '\e82c'; } /* '' */
.icon-video-loss:before { content: '\e82d'; } /* '' */
.icon-view-list-button:before { content: '\e82e'; } /* '' */
.icon-bi-grey-icon:before { content: '\e82f'; } /* '' */
.icon-fewer-xdays:before { content: '\e830'; } /* '' */
.icon-ic_public_black_48px:before { content: '\e831'; } /* '' */
.icon-ic_flag_black_48px:before { content: '\e832'; } /* '' */
.icon-show-apps-button:before { content: '\e833'; } /* '' */
.icon-rounded-block-sign:before { content: '\e834'; } /* '' */
.icon-site-multiple:before { content: '\e835'; } /* '' */
.icon-camera:before { content: '\e836'; } /* '' */
.icon-search-advanced:before { content: '\e837'; } /* '' */
.icon-ic_skip_next:before { content: '\e838'; } /* '' */
.icon-ic_skip_previous:before { content: '\e839'; } /* '' */
.icon-no-door:before { content: '\e83a'; } /* '' */
.icon-no-pos:before { content: '\e83b'; } /* '' */
.icon-sensor:before { content: '\e83c'; } /* '' */
.icon-va:before { content: '\e83d'; } /* '' */
.icon-download-video:before { content: '\e83e'; } /* '' */
.icon-baseline-check_circle:before { content: '\e83f'; } /* '' */
.icon-added:before { content: '\e840'; } /* '' */
.icon-close:before { content: '\e841'; } /* '' */
.icon-search-more:before { content: '\e842'; } /* '' */
.icon-arrow-to:before { content: '\e843'; } /* '' */
.icon-ptz:before { content: '\e844'; } /* '' */
.icon-play:before { content: '\e845'; } /* '' */
.icon-pause:before { content: '\e846'; } /* '' */
.icon-dewarp:before { content: '\e847'; } /* '' */
.icon-headset-1:before { content: '\e848'; } /* '' */
.icon-cloud-stream:before { content: '\e84d'; } /* '' */
.icon-ic-temperature:before { content: '\e84e'; } /* '' */
.icon-ic-temperature-32px:before { content: '\e84f'; } /* '' */
.icon-social-distancing-group:before { content: '\e850'; } /* '' */
.icon-ic_home_24px:before { content: '\e851'; } /* '' */
.icon-ic_settings_24px:before { content: '\e852'; } /* '' */
.icon-grid-view-4:before { content: '\e853'; } /* '' */
.icon-grid-view-9:before { content: '\e854'; } /* '' */
.icon-grid-view-16:before { content: '\e855'; } /* '' */
.icon-add-cam:before { content: '\e856'; } /* '' */
.icon-search_solid_advancedfind:before { content: '\e857'; } /* '' */
.icon-i-add:before { content: '\e858'; } /* '' */
.icon-solid_region:before { content: '\e859'; } /* '' */
.icon-ic_remove_red_eye_24px:before { content: '\e85a'; } /* '' */
.icon-o-warning:before { content: '\e85b'; } /* '' */
.icon-warning-sign:before { content: '\e85c'; } /* '' */
.icon-stretch-01:before { content: '\e85d'; } /* '' */
.icon-download:before { content: '\e85e'; } /* '' */
.icon-bar-chart:before { content: '\e85f'; } /* '' */
.icon-directions-car:before { content: '\e861'; } /* '' */
.icon-cloud-file:before { content: '\e862'; } /* '' */
.icon-date-range:before { content: '\e863'; } /* '' */
.icon-home:before { content: '\e864'; } /* '' */
.icon-message:before { content: '\e865'; } /* '' */
.icon-money:before { content: '\e866'; } /* '' */
.icon-notifications:before { content: '\e867'; } /* '' */
.icon-pin:before { content: '\e868'; } /* '' */
.icon-report:before { content: '\e869'; } /* '' */
.icon-settings:before { content: '\e86a'; } /* '' */
.icon-share:before { content: '\e86b'; } /* '' */
.icon-person-pin:before { content: '\e86c'; } /* '' */
.icon-videocam:before { content: '\e86d'; } /* '' */
.icon-sort:before { content: '\e86e'; } /* '' */
.icon-arrow-dropdown:before { content: '\e86f'; } /* '' */
.icon-arrow_back_ios:before { content: '\e870'; } /* '' */
.icon-more:before { content: '\e871'; } /* '' */
.icon-flag:before { content: '\e872'; } /* '' */
.icon-cut:before { content: '\e874'; } /* '' */
.icon-file-mp4:before { content: '\e875'; } /* '' */
.icon-face-detect:before { content: '\e876'; } /* '' */
.icon-call:before { content: '\e877'; } /* '' */
.icon-check-double:before { content: '\e878'; } /* '' */
.icon-search-user:before { content: '\e879'; } /* '' */
.icon-filter-list:before { content: '\e87a'; } /* '' */
.icon-phone-iphone:before { content: '\e87b'; } /* '' */
.icon-phonelink-lock:before { content: '\e87c'; } /* '' */
.icon-email:before { content: '\e87d'; } /* '' */
.icon-1x:before { content: '\e87e'; } /* '' */
.icon-2x:before { content: '\e87f'; } /* '' */
.icon-4x:before { content: '\e880'; } /* '' */
.icon-05x:before { content: '\e881'; } /* '' */
.icon-8x:before { content: '\e882'; } /* '' */
.icon-025x:before { content: '\e883'; } /* '' */
.icon-camera-alt:before { content: '\e884'; } /* '' */
.icon-hd:before { content: '\e885'; } /* '' */
.icon-timelapse:before { content: '\e886'; } /* '' */
.icon-slow-motion-video:before { content: '\e887'; } /* '' */
.icon-lock-stroke:before { content: '\e888'; } /* '' */
.icon-application-stack:before { content: '\e889'; } /* '' */
.icon-backward-10:before { content: '\e88a'; } /* '' */
.icon-forward-10:before { content: '\e88b'; } /* '' */
.icon-unlocked-filled:before { content: '\e88c'; } /* '' */
.icon-unlock:before { content: '\e88e'; } /* '' */
.icon-fingerprint:before { content: '\e88f'; } /* '' */
.icon-history:before { content: '\e890'; } /* '' */
.icon-minus:before { content: '\e891'; } /* '' */
.icon-lock_open:before { content: '\e892'; } /* '' */
.icon-sensors_off:before { content: '\e893'; } /* '' */
.icon-bar-chart-4-bars:before { content: '\e894'; } /* '' */
.icon-count-people:before { content: '\e895'; } /* '' */
.icon-conversion-path:before { content: '\e896'; } /* '' */
.icon-group:before { content: '\e897'; } /* '' */
.icon-fall:before { content: '\e898'; } /* '' */
.icon-id-card:before { content: '\e899'; } /* '' */
.icon-shopping_cart_checkout:before { content: '\e89a'; } /* '' */
.icon-shopping-cart:before { content: '\e89b'; } /* '' */
.icon-waves:before { content: '\e89c'; } /* '' */
.icon-security-protect:before { content: '\e89d'; } /* '' */
.icon-image-outline:before { content: '\e89e'; } /* '' */
.icon-file-i3d:before { content: '\e89f'; } /* '' */
.icon-folder-outline:before { content: '\e8a0'; } /* '' */
.icon-link-off:before { content: '\e8a1'; } /* '' */
.icon-play-circle-outline:before { content: '\e8a2'; } /* '' */
.icon-share-social:before { content: '\e8a3'; } /* '' */
.icon-save-alt:before { content: '\e8a4'; } /* '' */
.icon-video-streaming:before { content: '\e8a5'; } /* '' */
.icon-computer_arrow_up:before { content: '\e8a6'; } /* '' */
.icon-network_node:before { content: '\e8a7'; } /* '' */
.icon-case-server:before { content: '\e8a8'; } /* '' */
.icon-person_stroke:before { content: '\e8a9'; } /* '' */
.icon-content-copy:before { content: '\e8aa'; } /* '' */
.icon-person:before { content: '\e8ab'; } /* '' */
.icon-wc-2:before { content: '\ea03'; } /* '' */
.icon-family:before { content: '\ea04'; } /* '' */
.icon-time-clock:before { content: '\ea05'; } /* '' */
.icon-s-pulse:before { content: '\ea06'; } /* '' */
.icon-l-location:before { content: '\ea07'; } /* '' */
.icon-ic_live_tv_24px:before { content: '\ea08'; } /* '' */
.icon-todo:before { content: '\ea09'; } /* '' */
