
.icon-mobile-back-arrow:before { content: '\e800'; } /* '' */
.icon-timer:before { content: '\e801'; } /* '' */
.icon-microphone:before { content: '\e802'; } /* '' */
.icon-engagement-outline:before { content: '\e803'; } /* '' */
.icon-headphones-mic:before { content: '\e804'; } /* '' */
.icon-conversion-path:before { content: '\e805'; } /* '' */
.icon-flow:before { content: '\e806'; } /* '' */
.icon-office-badge:before { content: '\e807'; } /* '' */
.icon-people-counting:before { content: '\e808'; } /* '' */
.icon-shopping-cart-checkout:before { content: '\e809'; } /* '' */
.icon-falling:before { content: '\e80a'; } /* '' */
.icon-shield:before { content: '\e80b'; } /* '' */
.icon-shield-check:before { content: '\e80c'; } /* '' */
.icon-minus:before { content: '\e80d'; } /* '' */
.icon-videocam-fill:before { content: '\e80e'; } /* '' */
.icon-settings:before { content: '\e810'; } /* '' */
.icon-cart-shopping:before { content: '\e813'; } /* '' */
.icon-chevron-up-sm:before { content: '\e814'; } /* '' */
.icon-engagement:before { content: '\e815'; } /* '' */
.icon-circle-user-1:before { content: '\e816'; } /* '' */
.icon-notification-outline:before { content: '\e817'; } /* '' */
.icon-clock:before { content: '\e818'; } /* '' */
.icon-chevron-left-md:before { content: '\e819'; } /* '' */
.icon-chevron-right-md:before { content: '\e81a'; } /* '' */
.icon-chevron-up-md:before { content: '\e81b'; } /* '' */
.icon-chevron-down-md:before { content: '\e81c'; } /* '' */
.icon-check-small:before { content: '\e81d'; } /* '' */
.icon-check:before { content: '\e81e'; } /* '' */
.icon-region:before { content: '\e81f'; } /* '' */
.icon-server-1:before { content: '\e820'; } /* '' */
.icon-location:before { content: '\e821'; } /* '' */
.icon-add-bookmark:before { content: '\e822'; } /* '' */
.icon-backup:before { content: '\e823'; } /* '' */
.icon-forward-10:before { content: '\e824'; } /* '' */
.icon-replay-10:before { content: '\e825'; } /* '' */
.icon-exit-full-screen:before { content: '\e826'; } /* '' */
.icon-full-screen:before { content: '\e827'; } /* '' */
.icon-circle-user:before { content: '\e828'; } /* '' */
.icon-a-chart:before { content: '\e829'; } /* '' */
.icon-g-chart-fill:before { content: '\e82a'; } /* '' */
.icon-g-chart:before { content: '\e82b'; } /* '' */
.icon-security:before { content: '\e82c'; } /* '' */
.icon-phone-call:before { content: '\e82d'; } /* '' */
.icon-logs:before { content: '\e82e'; } /* '' */
.icon-9dot-menu:before { content: '\e82f'; } /* '' */
.icon-currency-dollar:before { content: '\e831'; } /* '' */
.icon-media-pause:before { content: '\e832'; } /* '' */
.icon-volume-up:before { content: '\e833'; } /* '' */
.icon-pointing-left:before { content: '\e834'; } /* '' */
.icon-pointing-right:before { content: '\e835'; } /* '' */
.icon-triangle-sm-play:before { content: '\e836'; } /* '' */
.icon-calendar:before { content: '\e837'; } /* '' */
.icon-arrow-md-right:before { content: '\e838'; } /* '' */
.icon-ctrl-backward:before { content: '\e839'; } /* '' */
.icon-arrow-md-left:before { content: '\e83a'; } /* '' */
.icon-ctrl-forward:before { content: '\e83b'; } /* '' */
.icon-cursor-pointer-mouse:before { content: '\e83c'; } /* '' */
.icon-arrow-sm-right:before { content: '\e83d'; } /* '' */
.icon-arrow-sm-left:before { content: '\e83e'; } /* '' */
.icon-setting-outline:before { content: '\e83f'; } /* '' */
.icon-circle-info:before { content: '\e840'; } /* '' */
.icon-circle-check:before { content: '\e841'; } /* '' */
.icon-notification:before { content: '\e842'; } /* '' */
.icon-add-badge:before { content: '\e843'; } /* '' */
.icon-close-badge:before { content: '\e844'; } /* '' */
.icon-arrow-down-badge:before { content: '\e845'; } /* '' */
.icon-arrow-up-badge:before { content: '\e846'; } /* '' */
.icon-star-fill:before { content: '\e847'; } /* '' */
.icon-star-outline:before { content: '\e848'; } /* '' */
.icon-image:before { content: '\e849'; } /* '' */
.icon-videocam:before { content: '\e84a'; } /* '' */
.icon-server-fill:before { content: '\e84b'; } /* '' */
.icon-server:before { content: '\e84c'; } /* '' */
.icon-videocam_off:before { content: '\e84d'; } /* '' */
.icon-more:before { content: '\e84e'; } /* '' */
.icon-delete:before { content: '\e84f'; } /* '' */
.icon-edit:before { content: '\e850'; } /* '' */
.icon-eye-hide:before { content: '\e851'; } /* '' */
.icon-eye-show:before { content: '\e852'; } /* '' */
.icon-add:before { content: '\e853'; } /* '' */
.icon-mail:before { content: '\e854'; } /* '' */
.icon-arrow-down:before { content: '\e855'; } /* '' */
.icon-arrow-up:before { content: '\e856'; } /* '' */
.icon-arrow-left:before { content: '\e857'; } /* '' */
.icon-arrow-right:before { content: '\e858'; } /* '' */
.icon-enlarge:before { content: '\e859'; } /* '' */
.icon-person:before { content: '\e85a'; } /* '' */
.icon-circle-warning:before { content: '\e85b'; } /* '' */
.icon-circle-question:before { content: '\e85c'; } /* '' */
.icon-search:before { content: '\e85d'; } /* '' */
.icon-chevron-down-sm:before { content: '\e85e'; } /* '' */
.icon-circle-user-sparkle:before { content: '\e85f'; } /* '' */
.icon-close:before { content: '\e860'; } /* '' */
.icon-square-dashed-upload:before { content: '\e861'; } /* '' */
.icon-circle-dashed:before { content: '\e862'; } /* '' */
.icon-loading:before { content: '\e863'; } /* '' */
.icon-home-fill:before { content: '\e864'; } /* '' */
.icon-solution-outline:before { content: '\e865'; } /* '' */
.icon-home:before { content: '\e866'; } /* '' */
.icon-solution:before { content: '\e867'; } /* '' */
