
.icon-format-list-bulleted:before { content: '\e800'; } /* '' */
.icon-ic_home_24px:before { content: '\e806'; } /* '' */
.icon-application-stack:before { content: '\e807'; } /* '' */
.icon-warning:before { content: '\e808'; } /* '' */
.icon-ic_settings_24px:before { content: '\e809'; } /* '' */
.icon-ic_info_24px:before { content: '\e80a'; } /* '' */
.icon-ic_arrow_forward_24px:before { content: '\e80b'; } /* '' */
.icon-save-alt:before { content: '\e80c'; } /* '' */
.icon-ic_help_outline_24px:before { content: '\e80d'; } /* '' */
.icon-ic_search_24px:before { content: '\e80e'; } /* '' */
.icon-ic_arrow_drop_down_24px:before { content: '\e80f'; } /* '' */
.icon-ic_close_24px:before { content: '\e811'; } /* '' */
.icon-today:before { content: '\e812'; } /* '' */
.icon-ic_keyboard_arrow_right_24px:before { content: '\e813'; } /* '' */
.icon-ic_keyboard_arrow_down_24px:before { content: '\e814'; } /* '' */
.icon-ic_refresh_24px:before { content: '\e815'; } /* '' */
.icon-ic_keyboard_arrow_up_24px:before { content: '\e816'; } /* '' */
.icon-ic_content_copy_24px:before { content: '\e817'; } /* '' */
.icon-ic_notifications_none_24px:before { content: '\e818'; } /* '' */
.icon-ic_tune_24px:before { content: '\e819'; } /* '' */
.icon-ic_delete_24px:before { content: '\e81a'; } /* '' */
.icon-ic_apps_24px:before { content: '\e81b'; } /* '' */
.icon-ic_arrow_upward:before { content: '\e81c'; } /* '' */
.icon-ic_arrow_downward:before { content: '\e81d'; } /* '' */
.icon-verification-mark:before { content: '\e81e'; } /* '' */
.icon-done-all:before { content: '\e81f'; } /* '' */
.icon-server_production:before { content: '\e820'; } /* '' */
