
.icon-account-circle:before { content: '\e800'; } /* '' */
.icon-close:before { content: '\e801'; } /* '' */
.icon-credit-card:before { content: '\e802'; } /* '' */
.icon-data-usage:before { content: '\e803'; } /* '' */
.icon-edit:before { content: '\e804'; } /* '' */
.icon-exit-to-app:before { content: '\e805'; } /* '' */
.icon-language:before { content: '\e806'; } /* '' */
.icon-menu-9dot:before { content: '\e807'; } /* '' */
.icon-perm-identity:before { content: '\e808'; } /* '' */
.icon-phone:before { content: '\e809'; } /* '' */
.icon-settings:before { content: '\e80a'; } /* '' */
.icon-timer:before { content: '\e80b'; } /* '' */
.icon-verification-mark:before { content: '\e80c'; } /* '' */
.icon-visibility-off:before { content: '\e80d'; } /* '' */
.icon-visibility:before { content: '\e80e'; } /* '' */
.icon-vpn-key:before { content: '\e80f'; } /* '' */
.icon-warning:before { content: '\e810'; } /* '' */
.icon-archive:before { content: '\e811'; } /* '' */
.icon-cloud:before { content: '\e812'; } /* '' */
.icon-dashboard:before { content: '\e813'; } /* '' */
.icon-info:before { content: '\e814'; } /* '' */
.icon-refresh:before { content: '\e815'; } /* '' */
.icon-save-alt:before { content: '\e816'; } /* '' */
.icon-search:before { content: '\e817'; } /* '' */
.icon-videocam:before { content: '\e818'; } /* '' */
.icon-arrow-downward:before { content: '\e819'; } /* '' */
.icon-arrow-upward:before { content: '\e81a'; } /* '' */
.icon-keyboard_solid_arrowright:before { content: '\e81b'; } /* '' */
.icon-keyboard-arrow-left:before { content: '\e81c'; } /* '' */
.icon-info-round:before { content: '\e81d'; } /* '' */
.icon-arrow-drop-down:before { content: '\e81e'; } /* '' */
.icon-today-outline:before { content: '\e81f'; } /* '' */
.icon-help-outline:before { content: '\e820'; } /* '' */
.icon-contract:before { content: '\e821'; } /* '' */
.icon-history:before { content: '\e822'; } /* '' */
.icon-receipt:before { content: '\e823'; } /* '' */
.icon-more_vert:before { content: '\e824'; } /* '' */
.icon-filter-alt:before { content: '\e825'; } /* '' */
.icon-shield:before { content: '\e826'; } /* '' */
.icon-content_copy:before { content: '\e827'; } /* '' */
.icon-nvr:before { content: '\e828'; } /* '' */
.icon-billing-payment:before { content: '\e829'; } /* '' */
.icon-invoice:before { content: '\e82a'; } /* '' */
.icon-check-circle:before { content: '\e82b'; } /* '' */
.icon-cancel:before { content: '\e82c'; } /* '' */
.icon-camera-touring:before { content: '\e82d'; } /* '' */
.icon-camera-fisheye:before { content: '\e82e'; } /* '' */
.icon-videocam-1:before { content: '\e82f'; } /* '' */
