
.icon-person:before { content: '\e800'; } /* '' */
.icon-nvr:before { content: '\e801'; } /* '' */
.icon-arrow-drop-down:before { content: '\e802'; } /* '' */
.icon-open-in-new:before { content: '\e803'; } /* '' */
.icon-close:before { content: '\e804'; } /* '' */
.icon-settings:before { content: '\e805'; } /* '' */
.icon-help-outline:before { content: '\e806'; } /* '' */
.icon-assessment:before { content: '\e807'; } /* '' */
.icon-more-setting:before { content: '\e808'; } /* '' */
.icon-arrow-forward:before { content: '\e809'; } /* '' */
.icon-search:before { content: '\e80a'; } /* '' */
.icon-arrow-downward:before { content: '\e80b'; } /* '' */
.icon-arrow-upward:before { content: '\e80c'; } /* '' */
.icon-filter-alt:before { content: '\e80d'; } /* '' */
.icon-save-alt:before { content: '\e80e'; } /* '' */
.icon-verification-mark:before { content: '\e80f'; } /* '' */
.icon-warning:before { content: '\e810'; } /* '' */
.icon-visibility:before { content: '\e811'; } /* '' */
