
.icon-person:before { content: '\e800'; } /* '' */
.icon-nvr:before { content: '\e801'; } /* '' */
.icon-arrow-drop-down:before { content: '\e802'; } /* '' */
.icon-open-in-new:before { content: '\e803'; } /* '' */
.icon-close:before { content: '\e804'; } /* '' */
.icon-settings:before { content: '\e805'; } /* '' */
.icon-help-outline:before { content: '\e806'; } /* '' */
.icon-assessment:before { content: '\e807'; } /* '' */
.icon-more-setting:before { content: '\e808'; } /* '' */
.icon-arrow-forward:before { content: '\e809'; } /* '' */
